@model GameStore.Web.Areas.Administration.Models.ProductsViewModel

@{
    ViewData["Title"] = "Edit";
}
<h2>@Model.Name</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="editForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="LastPurchased" />
            <input type="hidden" asp-for="ImageName" />
            @Html.Partial("_StatusMessage", TempData["StatusMessage"])
            <div class="form-group">
                <img src="~/images/products/@(Model.ImageName ?? "card.png")" class="img-thumbnail img-fluid mb-2" alt="@Model.Name">
                <span class="btn btn-primary" data-toggle="modal" data-target="#upload-modal">Change Picture</span>
                <button type="submit" disabled class="btn btn-danger float-right">Delete Picture (Soon)</button>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="isDeletedCheck" asp-for="IsDeleted">
                    <label class="custom-control-label" for="isDeletedCheck" asp-for="IsDeleted"> Is Deleted?</label>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="isOnSaleCheck" asp-for="IsOnSale">
                    <label class="custom-control-label" for="isOnSaleCheck" asp-for="IsOnSale"> On Sale?</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" form="editForm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div id="upload-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Product Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Products" asp-route-productId="@Model.Id" asp-action="ChangeProductImage" id="changePictureForm" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="productImage" onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])">
                        <label class="custom-file-label text-truncate" for="customFile">
                            Choose Picture
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
                    <button type="submit" form="changePictureForm" class="btn btn-success">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>