@model ProductListingViewModel
@{
    ViewData["Title"] = "Products";
}
<h3 class="text-center"><i class="fas fa-gamepad mr-2"></i>Product Details</h3>
<hr />
@await Html.PartialAsync("_ProductsDetailsPartial", Model)