@{
    ViewData["Title"] = "Access Granted";
}
<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="alert alert-danger"><i class="fas fa-info-circle mr-2"></i>You have been granted ADMIN privileges.</p>
</header>
