@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <span class="badge badge-pill badge-primary">Aleksandar Malinov Boulevard 31, 1729</span><br />
    <span class="badge badge-pill badge-success">g.k. Mladost 1A, 1729 Sofia</span><br />
    <span class="badge badge-pill badge-dark">+359-555-9669</span>
</address>
<a href="mailto:Support@gamestore.com" class="badge badge-pill badge-warning">support@gamestore.com</a><br/>