html { height: 100vh; }

body {
    /*background-repeat: no-repeat;
    background-size: auto;
    background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url('/images/products/horizonzerodownbg.jpg');*/
    padding-bottom: 20px;
}

hv {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    width: 1px;
}

.text-with-shadow {
    text-shadow: 1px 1px black;
}

.carousel-text-bg {
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
}

footer p {
    color: black;
    /*text-shadow: 1px 1px black;*/
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.card-img-top {
    height: 15vw;
    object-fit: cover;
    width: 100%;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* QR code generator */

#qrCode { margin: 15px; }

.comment-avatar {
    background: limegreen;
    border-radius: 100%;
    color: white;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    margin: 5px auto;
    text-align: center;
    width: 50px;
}

.comment-body {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }
}